/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: url("/assets/images/noise-bg.jpg");
  color: #444;
  font-family: “Palatino Linotype”,”Book Antiqua”,Palatino,FreeSerif,serif;
  /*font-size: small; */
  font-size: 16px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 0 1px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 140%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #0aa;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: #0aa;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #555;
    font-family: 'Andale Mono', Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.0em;
  text-align: justify;
  width: 40em;
  /* margin: 3em auto 2em auto; */
  margin: 3em auto 2em 210px;
  line-height: 1.7em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #0aa;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #555;
  }

  .site .footer {
    position: fixed;
    top: 50px;
    left: 0px;
    padding: 10px;
    background: url("/assets/images/noise.jpg");
    max-height: 50%;
    font-size: 80%;
    color: #444;
    overflow: hidden;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(100,100,100, 1.0);
  }

    .site .footer .contact {
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
      font-weight: bold;
      float: left;
    }

      .site .footer .contact a {
        color: #444;
        text-shadow: 0 1px #fff;
      }

      .site .footer .contact img {
        margin: 10px 20px 10px 20px;
        filter: gray;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 0 0 6px #666;
        -webkit-box-shadow: 0 0 6px #666;
        border: 3px solid #fff;

        color: #a00;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  #post img {
    border: 5px solid #fff;
    box-shadow: 0 0 6px #666;
    -webkit-box-shadow: 0 0 6px #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
  padding-bottom: 3em;
}

  #related h2 {
    margin-bottom: 1em;
  }
